/*   JCROWLEY2.github.io
Diving Project Website for SCKANS CSCI434

Student: Joshua Crowley
Last Updated: 21 Oct
Description: This was a quick attempt to move my CSS to a seperate file.
This will not be my final theme and layout as I have a better layout in mind.
*/

body {
  background-color: #00aaff;
  margin: 0 12%;
  font-family: sans-serif;
  }

h1 {
  text-align: center;
  font-family: serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}

h2 {
  color: #fff;
  font-size: 1em;
}
img {
	max-width: 100%;
}
menu {
margin:0;
list-style: none;
width: 140px;
text-align: center;
}

menu li {
font: 90% "Arial", Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}

menu a {
background: #222; /*Standard Color*/
border-bottom: 1px solid #000000;
color: #ccc;
display: block;
margin: 0;
padding: 20px 12px;
text-decoration: none;
}

menu a:hover {
background: #004400; /*Hovered Color*/
color: #fff;
text-shadow:#ffffff 0px 0px 5px; /*Text Glow*/
padding-bottom: 20px;
}